
	

	


	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	} 
	
	
	
	.contenedor{
		margin: auto;
		width: 900px;
		margin-top: 300px;
		text-align: center;
		color: rgb(255, 255, 255);
	}
	
	.titulo{
		margin-bottom: 20px;
	}
	
	.opciones p{
		background: black;
		display: initial;
		padding: 12px;
		color: #ffffff;
		border-radius: 2px;
		font-weight: bold;
	}
	
	p.p1{
		position: absolute;
		top: 400px;
		left: 500px;
		width: 100px;
	}
	p.p1:hover{
		background: gray;
		cursor: pointer;
	}
	
	p.p2{
		position: absolute;
		top: 400px;
		left: 750px;
		width: 100px;
	}
	p.p2:hover{
		background: gray;
		cursor: pointer;
	}
	#si{
		background: url(https://static.vecteezy.com/system/resources/previews/004/866/572/non_2x/red-tulips-on-green-background-watercolor-seamless-pattern-with-spring-flowers-vector.jpg);
		
		position: absolute;
		top: 122px;
		width: 100%;
		color: #000000;
		padding: 200px;
		display: none;
		background-repeat: no-repeat;

		

		
	}

	
	

	
	/*Fin de Menù lateral*/
